.logo{
  margin-top: 5%;
  text-align: center;
}
#intro{
  background-attachment: fixed;
  background-image: url("../img/backgrounds/landing.jpg");
  background-position:centre;
  height:700px
  width:100%
  background-size: cover;
}
.button{
  color: #F15A29;
  .button {
  border: none;
  color: #F15A29;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  }
#cont1{
  margin-top: 100%;
  margin-bottom: 100%;
}
.image{
  margin-bottom: 10%;
margin-left: 10%;
margin-right: 30%;
margin-top: 10%;
padding:0;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}

.overlay-menu {
  height: 100%;
  width: 0;.logo{
  margin-top: 5%;
  text-align: center;
}
.container {
    position: relative;
    width: 50%;
}
.img-responsive{
  opacity: 1;
  display: block;
  width: ;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #F15A29;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.button{
  color: #F15A29;
  .button {
  border: none;
  color: #F15A29;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  }
.cont1{
  margin-top: 100%;
  margin-bottom: 100%;
}
.image{
  margin-bottom: 10%;
margin-left: 10%;
margin-right: 30%;
margin-top: 10%;
padding:0;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}

.overlay-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F15A29;
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-menu a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #000000;
display: block;
transition: 0.3s;
}

.overlay-menu a:hover, .overlay-menu a:focus {
color: #f1f1f1;
}

.overlay-menu .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}
.bg-00{
  background-color: #F15A29;
}

#r1{
  background-color: white;
  height: 59.5px;
}
#r2{
  background-color:orange;
  height: 59.5px;
}
.overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(0,0,0,0.0);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}

.bg-1:hover .overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(250,250,250,0.5);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}
.bg-1:hover .text {
color: #000000;
}

}
#intro{
  background-attachment: fixed;
  background-image: url("../img/backgrounds/landing.jpg");
  background-position:centre;
  height:700px
  width:100%
  background-size: cover;
}
.button{
  color: #F15A29;
  .button {
  border: none;
  color: #F15A29;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  }
#cont1{
  margin-top: 100%;
  margin-bottom: 100%;
}
.image{
  margin-bottom: 10%;
margin-left: 10%;
margin-right: 30%;
margin-top: 10%;
padding:0;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}

.overlay-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F15A29;
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-menu a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #000000;
display: block;
transition: 0.3s;
}

.overlay-menu a:hover, .overlay-menu a:focus {
color: #f1f1f1;
}

.overlay-menu .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}
.bg-00{
  background-color: #F15A29;
}

#r1{
  background-color: white;
  height: 59.5px;
}
#r2{
  background-color:orange;
  height: 59.5px;
}
.overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(0,0,0,0.0);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}

.bg-1:hover .overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(250,250,250,0.5);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}
.bg-1:hover .text {
color: #000000;
}

.textt {
text-align: center;
margin-top: 2%;
color: #ffffff;
}
#text1{
  padding: 5%;
  text-align: left;
}
#text2{
  padding:5%
  text-align: right;
}
/* MEAL OFFERS */
.meal{
height: 400px;
width: 80%;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 10%;
margin-right: 10%;
background-color: #ffffff;
}
#burger{
	text-align: center;
	padding: 50px;
}
.mealhead{
height: 50px;
width: 100%;
background-color: #ccc;
}
.media2{
padding: 0;
height: 600px;
width:100%;
background-image: url("..img/backgrounds/foodsBg.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.mail{
text-align: center;
height: 200px;
width: 80%;
margin-top: 20px;
margin-bottom: 30px;
margin-left: 10%;
margin-right: 10%;
background-color: transparent;
}
.formStyle {
margin: 20px;
background:rgba(250,250,250,0.5);
padding: 6px;
width: 40%;
margin-bottom: 20px;
border-bottom-width: 1px;
border-bottom-style: none;
border-bottom-color: #ecf0f1;
border-top-style: none;
border-right-style: none;
border-left-style: none;
font-size: 28px;
font-weight: 100;
color: #ffffff;
border-radius: 5px;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.formButton {
margin: 20px;
background-color:#F15A29;
display:inline-block;
color:#ffffff;
font-size:28px;
font-weight: 500;
padding:6px 50px;
text-decoration:none;
border-radius: 5px;
}
.formButton:hover {
background-color: #27ae60;
color:#ffffff;
}

.formButton:active {
position:relative;
top:3px;
}
.pad {
	 background-image: url("../img/background/subscribe.jpg");
	 padding:5%;
	 font-size:1.4em;
}
.pad1 {
	    background-color: #F15A29;
}

.logo-white {
	         text-align: center;
	         padding: 100px;
	         font-size: 40PX;
}
.images4 {
	      background-color: #F15A29;
}
a {
   color: white;
}

top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}
.textt {
text-align: center;
margin-top: 2%;
color: #ffffff;
}
#text1{
  padding: 5%;
  text-align: left;
}
#text2{
  padding:5%
  text-align: right;
}
/* MEAL OFFERS */
.meal{
height: 400px;
width: 80%;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 10%;
margin-right: 10%;
background-color: #ffffff;
}
#burger{
	text-align: center;
	padding: 50px;
}
.mealhead{
height: 50px;
width: 100%;
background-color: #ccc;
}
.media2{
padding: 0;
height: 600px;
width:100%;
background-image: url("..img/backgrounds/foodsBg.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.mail{
text-align: center;
height: 200px;
width: 80%;
margin-top: 20px;
margin-bottom: 30px;
margin-left: 10%;
margin-right: 10%;
background-color: transparent;
}
.formStyle {
margin: 20px;
background:rgba(250,250,250,0.5);
padding: 6px;
width: 40%;
margin-bottom: 20px;
border-bottom-width: 1px;
border-bottom-style: none;
border-bottom-color: #ecf0f1;
border-top-style: none;
border-right-style: none;
border-left-style: none;
font-size: 28px;
font-weight: 100;
color: #ffffff;
border-radius: 5px;
}

.formButton {
margin: 20px;
background-color:#F15A29;
display:inline-block;
color:#ffffff;
font-size:28px;
font-weight: 500;
padding:6px 50px;
text-decoration:none;
border-radius: 5px;
}
.formButton:hover {
background-color: #27ae60;
color:#ffffff;
}

.formButton:active {
position:relative;
top:3px;
}
.pad {
	 background-image: url("../img/background/subscribe.jpg");
	 padding:5%;
	 font-size:1.4em;
}
.pad1 {
	    background-color: #F15A29;
}

.logo-white {
	         text-align: center;
	         padding: 100px;
	         font-size: 40PX;
}
.images4 {
	      background-color: #F15A29;
}
a {
   color: white;
}
.logo{
  margin-top: 5%;
  text-align: center;
}
#intro{
  background-attachment: fixed;
  background-image: url("../img/backgrounds/landing.jpg");
  background-position:centre;
  height:700px
  width:100%
  background-size: cover;
}
.button{
  color: #F15A29;
  .button {
  border: none;
  color: #F15A29;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  }
#cont1{
  margin-top: 100%;
  margin-bottom: 100%;
}
.image{
  margin-bottom: 10%;
margin-left: 10%;
margin-right: 30%;
margin-top: 10%;
padding:0;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}

.overlay-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F15A29;
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-menu a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #000000;
display: block;
transition: 0.3s;
}

.overlay-menu a:hover, .overlay-menu a:focus {
color: #f1f1f1;
}

.overlay-menu .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}
.bg-00{
  background-color: #F15A29;
}

#r1{
  background-color: white;
  height: 59.5px;
}
#r2{
  background-color:orange;
  height: 59.5px;
}
.overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(0,0,0,0.0);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}

.bg-1:hover .overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(250,250,250,0.5);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}
.bg-1:hover .text {
color: #000000;
}
.text {
color: white;
font-size: 40px;
font-family: 'Handlee', Open Sans;
padding: 16px 32px;
white-space: nowrap;
position: absolute;
overflow: hidden;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}
.textt {
text-align: center;
margin-top: 2%;
color: #ffffff;
}
#text1{
  padding: 5%;
  text-align: left;
}
#text2{
  padding:5%
  text-align: right;
}
/* MEAL OFFERS */
.meal{
height: 400px;
width: 80%;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 10%;
margin-right: 10%;
background-color: #ffffff;
}
#burger{
	text-align: center;
	padding: 50px;
}
.mealhead{
height: 50px;
width: 100%;
background-color: #ccc;
}
.media2{
padding: 0;
height: 600px;
width:100%;
background-image: url("..img/backgrounds/foodsBg.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.mail{
text-align: center;
height: 200px;
width: 80%;
margin-top: 20px;
margin-bottom: 30px;
margin-left: 10%;
margin-right: 10%;
background-color: transparent;
}
.formStyle {
margin: 20px;
background:rgba(250,250,250,0.5);
padding: 6px;
width: 40%;
margin-bottom: 20px;
border-bottom-width: 1px;
border-bottom-style: none;
border-bottom-color: #ecf0f1;
border-top-style: none;
border-right-style: none;
border-left-style: none;
font-size: 28px;
font-weight: 100;
color: #ffffff;
border-radius: 5px;
}

.formButton {
margin: 20px;
background-color:#F15A29;
display:inline-block;
color:#ffffff;
font-size:28px;
font-weight: 500;
padding:6px 50px;
text-decoration:none;
border-radius: 5px;
}
.formButton:hover {
background-color: #27ae60;
color:#ffffff;
}

.formButton:active {
position:relative;
top:3px;
}
.pad {
	 background-image: url("../img/background/subscribe.jpg");
	 padding:5%;
	 font-size:1.4em;
}
.pad1 {
	    background-color: #F15A29;
}

.logo-white {
	         text-align: center;
	         padding: 100px;
	         font-size: 40PX;
}
.images4 {
	      background-color: #F15A29;
}
a {
   color: white;
}

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F15A29;
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-menu a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #000000;
display: block;
transition: 0.3s;
}

.overlay-menu a:hover, .overlay-menu a:focus {
color: #f1f1f1;
}

.overlay-menu .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}
.bg-00{
  background-color: #F15A29;
}

#r1{
  background-color: white;
  height: 59.5px;
}
#r2{
  background-color:orange;
  height: 59.5px;
}
.overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(0,0,0,0.0);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}

.bg-1:hover .overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(250,250,250,0.5);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}
.bg-1:hover .text {
color: #000000;
}
.text {
color: white;
font-size: 40px;
font-family: 'Handlee', Open Sans;
padding: 16px 32px;
white-space: nowrap;
position: absolute;
overflow: hidden;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}
.textt {
text-align: center;
margin-top: 2%;
color: #ffffff;
}
#text1{
  padding: 5%;
  text-align: left;
}
#text2{
  padding:5%
  text-align: right;
}
/* MEAL OFFERS */
.meal{
height: 400px;
width: 80%;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 10%;
margin-right: 10%;
background-color: #ffffff;
}
#burger{
	text-align: center;
	padding: 50px;
}
.mealhead{
height: 50px;
width: 100%;
background-color: #ccc;
}
.media2{
padding: 0;
height: 600px;
width:100%;
background-image: url("..img/backgrounds/foodsBg.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.mail{
text-align: center;
height: 200px;
width: 80%;
margin-top: 20px;
margin-bottom: 30px;
margin-left: 10%;
margin-right: 10%;
background-color: transparent;
}
.formStyle {
margin: 20px;
background:rgba(250,250,250,0.5);
padding: 6px;
width: 40%;
margin-bottom: 20px;
border-bottom-width: 1px;
border-bottom-style: none;
border-bottom-color: #ecf0f1;
border-top-style: none;
border-right-style: none;
border-left-style: none;
font-size: 28px;
font-weight: 100;
color: #ffffff;
border-radius: 5px;
}

.formButton {
margin: 20px;
background-color:#F15A29;
display:inline-block;
color:#ffffff;
font-size:28px;
font-weight: 500;
padding:6px 50px;
text-decoration:none;
border-radius: 5px;
}
.formButton:hover {
background-color: #27ae60;
color:#ffffff;
}

.formButton:active {
position:relative;
top:3px;
}
.pad {
	 background-image: url("../img/background/subscribe.jpg");
	 padding:5%;
	 font-size:1.4em;
}
.pad1 {
	    background-color: #F15A29;
}

.logo-white {
	         text-align: center;
	         padding: 100px;
	         font-size: 40PX;
}
.images4 {
	      background-color: #F15A29;
}
a {
   color: white;
}
