.logo{
  margin-top: 5%;
  text-align: center;
}
#intro{
  background-attachment: fixed;
  background-image: url("../img/backgrounds/landing.jpg");
  background-position:centre;
  height:700px
  width:100%
  background-size: cover;
}
.button{
  color: #F15A29;
  .button {
  border: none;
  color: #F15A29;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  }
#cont1{
  margin-top: 100%;
  margin-bottom: 100%;
}
.image{
  margin-bottom: 10%;
margin-left: 10%;
margin-right: 30%;
margin-top: 10%;
padding:0;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}

.overlay-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F15A29;
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-menu a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #000000;
display: block;
transition: 0.3s;
}

.overlay-menu a:hover, .overlay-menu a:focus {
color: #f1f1f1;
}

.overlay-menu .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}
.bg-00{
  background-color: #F15A29;
}
.happy{
  height:119px;
  width:300px
}
.overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(0,0,0,0.0);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}

.bg-1:hover .overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(250,250,250,0.5);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}
.bg-1:hover .text {
color: #000000;
}
.text {
color: white;
font-size: 40px;
font-family: 'Handlee', Open Sans;
padding: 16px 32px;
white-space: nowrap;
position: absolute;
overflow: hidden;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}
.textt {
text-align: center;
margin-top: 2%;
color: #ffffff;
}
#text1{
  padding: 5%;
  text-align: left;
}
#text2{
  padding:5%
  text-align: right;
}
/* MEAL OFFERS */
.meal{
height: 400px;
width: 80%;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 10%;
margin-right: 10%;
background-color: #ffffff;
}
#burger{
	text-align: center;
	padding: 50px;
}
.mealhead{
height: 50px;
width: 100%;
background-color: #ccc;
}
